{
  "plugins": [
    "@babel/plugin-proposal-optional-chaining",
    ["macros"],
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "test": "./test",
      }
    }]
  ],
  "presets": [
    [
      "babel-preset-gatsby",
      {
        "targets": {
          "browsers": [">0.25%", "not dead"]
        }
      }
    ]
  ]
}